{
    border:10px solid grey;
}





body {
     font-family: sans-serif;
     margin-top: 100px;
 }

 
 
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 200px;
 }
 
 .container {
     max-width: 800px;
     margin: 0 auto;
     color: #4a4a4a;
     font-family: sans-serif;
     padding-left: 20px;
     padding-right: 20px;
 }
 
 	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }
 
 
 
   #content:hover{
        background-color: orange;
        color:white;
    }
    #content:active{
        background-color: orange;
        color:white;
    }
 
