{
    border:10px solid grey;
}
p{ line-height: 1em; }
{

    line-height: 1.1em;
	margin: 0 0 .5em 0;
}

a{

	color: black;
	text-decoration: none;
}

body {
     font-family: sans-serif;
     margin-top: 100px;
 }

 
 
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 200px;
 }
 
 .container {
     max-width: 800px;
     margin: 0 auto;
     color: #4a4a4a;
     font-family: sans-serif;
     padding-left: 20px;
     padding-right: 20px;
 }
 
 
  
 
