<style>
.clipped {
  width: 220px;
  height: 150px;
  padding: 10px;
  background-color: yellowgreen;
  background-image: url(/pix/byron_bay_300x225.jpg);
  border: 20px solid rgba(0,0,0,0.3);
  background-clip: border-box;
  background-origin: border-box;
}

